.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span {
    visibility: hidden;
}

.topbar-wrapper .link:after {
    content: url(../docs/64x64.png);
    color: #fff;
    visibility: visible;
    display: block;
    position: absolute;
    padding: 15px;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border-color: #000080;
}

.swagger-ui .info .title small:last-child {
    background-color: #000080 !important;
}
